---
import { STRAPI_URL }  from '../lib/strapi.js';
const { map } = Astro.props;


// These depend on how you store fields in Strapi:
const title = map?.mapTitle ?? "Untitled map";
const desc = map?.Description ?? "";
const year = map?.mapYear ?? "";
const author = map?.creatorName ?? ""; // example: "Ramsay, David"
const slug = map?.slug ?? "";

// If you store image under featuredImage
const img = map?.image?.formats?.thumbnail?.url || null;

// If you store external viewer URL directly (recommended)
const viewerUrl = map?.viewerUrl || (slug ? `/maps/${slug}` : "#");
---

<article>
  <a href={viewerUrl}>
    {img && <img alt="Map TN" src={`${STRAPI_URL}${img}`},
    width="100"
    height="100"
    loading="lazy"
    decoding="async" />}
  </a>

  <h3>
    <a href={viewerUrl}>{title}</a>
  </h3>

  {desc && <p>{desc}</p>}

  <p class="map-meta">
    {year && <span>{year}</span>}
    {year && author && <span> | </span>}
    {author && <span>{author}</span>}
    <span> | </span>
    <a href={viewerUrl}>View the Map »</a>
  </p>
</article>